<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('name').value"
        class="headline m-0"
        fxFlex="auto">{{form.get('name').value }}</h2>
    <h2 *ngIf="!form.get('name').value"
        class="headline m-0"
        fxFlex="auto">Nuevo Plan</h2>

    <!--button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button-->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
      
     
      
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Nombre de plan </mat-label>
        <input formControlName="name" matInput>
  
        <mat-icon aria-hidden="false" aria-label="Example home icon"  class="mr-3" matPrefix>drive_file_rename_outline</mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      
      <mat-form-field class="flex-auto">
        <mat-label>Almacenamiento (GB)</mat-label>
        <input cdkFocusInitial formControlName="storage" matInput>

        <mat-icon [icIcon]="icHost" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Precio</mat-label>
        <input cdkFocusInitial formControlName="payment" matInput>

        <mat-icon aria-hidden="false" aria-label="Example home icon"  class="mr-3" matPrefix>payments</mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Días de prueba</mat-label>
        <input formControlName="days" matInput>

        <mat-icon [icIcon]="icClock" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
          <mat-label>Prueba</mat-label>
          
          <mat-select matNativeControl name="type"  formControlName="activeTest">
            <mat-option value="no">Seleccione uno...</mat-option>
            <mat-option [value]=true>Activo</mat-option>
            <mat-option [value]=false>Inactivo</mat-option>
          </mat-select>

        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
   
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class=" flex-auto">
        <mat-label>tipo de contrato</mat-label>
        
        <mat-select  matNativeControl name="type"  formControlName="contract">
          <mat-option value="Mensual">Mensual</mat-option>
          <mat-option value="Bimestral">Bimestral</mat-option>
          <mat-option value="Semestral">Semestral</mat-option>
          <mat-option value="Anual">Anual</mat-option>
        </mat-select >

        <mat-icon aria-hidden="false" aria-label="Example home icon"  class="mr-3" matPrefix>gavel</mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Activar plan</mat-label>
        
        <mat-select  matNativeControl name="type"  formControlName="active" >
          <mat-option [value]=true>Activo</mat-option>
          <mat-option [value]=false>Inactivo</mat-option>
        </mat-select >

        <mat-icon aria-hidden="false" aria-label="Example home icon"  class="mr-3" matPrefix>verified_user</mat-icon>
    </mat-form-field>
    </div>
    <mat-form-field class="flex-auto" >
      <mat-label>Beneficios</mat-label>
        
      <mat-select  matNativeControl name="type"  formControlName="Benefits" multiple>
        <mat-option value="Agregar_Clientes">Agregar Clientes</mat-option>
        <mat-option value="Crear_Portafolios">Crear Portafolios</mat-option>
        <mat-option value="Mapeo">Mapeo</mat-option>
        <mat-option value="Generar_Segmentación">Generar Segmentación</mat-option>
        <mat-option value="Generar_Estrategias">Generar Estrategias</mat-option>
        <mat-option value="Generar_Estrategias">Integracion Comunicacion Externa</mat-option>
        <mat-option value="Generar_Estrategias">Integracion Comunicacion Interna</mat-option>
        <mat-option value="Generar_e-mails">Envío masivo de e-mails</mat-option>
        <mat-option value="Generar mensajes TXT">Envío masivo de txt</mat-option>
      </mat-select >

      <mat-icon aria-hidden="false" aria-label="Example home icon"  class="mr-3" matPrefix>grading</mat-icon>
    </mat-form-field>

    
   
    
    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">AGREGAR PLAN</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">EDITAR PLAN</button>
  </mat-dialog-actions>
</form>

<!--mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu-->
