<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">About</h2>
      </div>

      <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icPhone" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{admin.phone}}</p>
            <p class="m-0 caption text-hint">Telefono--</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icWork" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{}}</p>
            <p class="m-0 caption text-hint">Dirreccion</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icMail" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{admin.email}}</p>
            <p class="m-0 caption text-hint">Correo Electronico</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icAccessTime" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{admin.user}}</p>
            <p class="m-0 caption text-hint">Usuario</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
            <ic-icon [icon]="icAdd" size="20px"></ic-icon>
          </div>

          <p @fadeInRight class="m-0 body-1 cursor-pointer">Editar Información</p>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
            <ic-icon [icon]="icWhatshot" size="20px"></ic-icon>
          </div>

          <p @fadeInRight class="m-0 body-1 cursor-pointer">Cambiar Contraseña</p>
        </div>
      </div>
    </div>

  </div>

</div>
